.DS_Store
src/.vs
src/FytSoa.Application/bin
src/FytSoa.Application/obj
src/FytSoa.Domain/bin
src/FytSoa.Domain/obj
src/FytSoa.Domain.Core/bin
src/FytSoa.Domain.Core/obj
src/FytSoa.Infra.Common/bin
src/FytSoa.Infra.Common/obj
src/FytSoa.Infra.CrossCutting/bin
src/FytSoa.Infra.CrossCutting/obj
src/FytSoa.Infra.Data/bin
src/FytSoa.Infra.Data/obj
src/FytSoa.Services.Api/bin
src/FytSoa.Services.Api/obj
src/FytSoa.Web/bin
src/FytSoa.Web/obj
